$blue: #302ce4;
$violet: #6743ff;
$violet-circle: #4d23ca00;
$blue-circle: #2722ca;
$white-transp: #ffffffb9;
$text-black: #282a3e;
$white: white;

$button: #303B59;

$reaction: #ff5757;
$memory: #FFB21E;
$verbal: #00c1ab;
$visual: #1125d4;

$reaction-back: #ff575711;
$memory-back: #ffb16311;
$verbal-back: #00c1ab13;
$visual-back: #1124d40e;