@import "./variables";
@import "./container";
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    h1 {
        font-size: 4rem;
        font-weight: 800;
        color: $white;
    }

    h2 {
        font-weight: 800;
        font-size: 1.4rem;
    }

    p {
        font-size: 1.1rem;
    }

    button {
        font-family: "Hanken Grotesk", sans-serif;
        font-size: 1.1rem;
        font-weight: 700;
        background-color: transparent;
        border: none;
        width: 100%;
        background: $button;
        color: $white;
        margin-top: 20px;
        height: 58px;
        border-radius: 60px;
        letter-spacing: 0.02rem;
        cursor: pointer;
    }

    button:hover {
        background: linear-gradient(to top, $blue, $violet);
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 10px;

        a:link,
        a:visited {
            color: $blue;
            text-decoration: none;
        }
    }
}